<!-- layout.html -->
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
    		<title>Website</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        {% load static %}
        <link rel="stylesheet" href="{% static 'website/css/base.css' %}">
	</head>
	<body>
	    <header class="jumbotron text-center">...</header>
            <h1>Título Website</h1>
            <p>Frase Curta</p>
            <nav>
                <a href="{% url 'website:layoutFilho1' %}" class="btn btn-info">Home</a>
                <a href="{% url 'website:layoutFilho2' %}" class="btn btn-info">Home2</a>
                <a href="{% url 'website:layoutFilho3' %}" class="btn btn-info">Home3</a>
            </nav>
	    <article class="container">
		    <main class="col-sm-6">
                {% block main %}
                {% endblock main %}
            </main>
		    <aside class="col-sm-6">
                {% load static %}
                <img src="{% static 'website/images/Square_200x200.png' %}">
            </aside>
	    </article>
	    <footer>Texto de rodapé</footer>
	</body>
</html>